.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.header {
	font-size: 2rem;
}

/* RandomArticles */
.random-article-link {
	font-size: 1.5rem;
}

.random-article-link:hover {
	cursor: pointer;
}
/* Searchbar */
.search-container {
  margin: 0 auto;
  width: 170px;
}
.search-icon-off {
  /* display: none;
	border-radius: 100%;
	border: 5px solid red;
	width: 25px;
	height: 25px; */
  display: flex;
	justify-self: start;
}

.article-list {
  margin: 0 auto;
  width: 500px;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
