* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Teko", sans-serif;
}

.wrapper {
	background: linear-gradient(
		180deg,
		#0c0b0b,
		#0c0b0b,
		#0c0b0b,
		rgba(89, 3, 181, 0.762),
		#f80f1f6d
	);
}

.title {
	text-align: center;
	/* text-shadow: 2px 2px #3f01e1; */

	font-size: 4rem;
	background: linear-gradient(20deg, #f50936, #3f01e1);
	-webkit-background-clip: text;
	color: transparent;
}

.gamewindow-container {
	margin: 0 auto;
	width: 60%;
}

.gamewindow-window {
	display: flex;
	flex-wrap: wrap;
}

.gamewindow-cell {
	border: 1px solid black;
	height: 40px;
	width: 40px;
	margin: 0.15em;
	border-radius: 100%;
	background: radial-gradient(#454345, #171717);
}

/* COLORS */

.red {
	background: radial-gradient(#da1616, #222223);
	box-shadow: 0px 0px 30px #da1616;
}

.blue {
	background: radial-gradient(#111ce9, #222223);
	box-shadow: 0px 0px 30px #111ce9;
}

.green {
	background: radial-gradient(#12c928, #222223);
	box-shadow: 0px 0px 30px #12c928;
}
/* CONTROL PANEL */

.controlpanel-container {
	margin: 0 auto;
	width: 60%;
}

.controlpanel-button_container {
	width: 40%;
	display: flex;
	padding: 1em;
	justify-content: space-between;
}
