* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--navbar-color: #0a0a23;
	--main-color: #313146;
	--font-color-post: #d6d7da;
	--font-color-header: #616271;
}

body {
	color: var(--font-color);
}

li {
	list-style: none;
}

/* *** NAVBAR **** */

.navbar {
	position: fixed;
	top: 0px;
	height: 60px;
	width: 99vw;
	display: flex;
	background-color: var(--navbar-color);
	/* justify-content: center; */
}

.navbar__logo {
	margin: 0 auto;
}

.navigation {
	display: flex;
	color: var(--font-color-header);
	align-items: center;
}

.navbar__search-icon {
	transition: opacity 0.2s ease-in-out;
	margin-right: 1em;
}

.navbar__search-icon:hover {
	opacity: 0.5;
}

.navbar__menu-icon {
	transition: opacity 0.2s ease-in-out;
	margin-right: 1em;
}
.navbar__menu-icon:hover {
	opacity: 0.5;
}

/* *** MAIN *** */

.wrapper {
	width: 100vw;
	min-height: 100vh;
	margin-top: 60px;
	background-color: var(--main-color);
}

.posts-container {
	width: 70%;
	min-width: 500px;
	min-height: 1000px;
	padding: 2em 0;
	margin: 0 auto;
	font-size: 1.2rem;
}

/* *** HEADER *** */

.posts-container__header {
	width: 100%;
	height: 50px;
}

.header {
	display: flex;
	font-size: 1.3rem;
	width: 100%;
	justify-content: flex-end;
	padding: 1em 0 0.6em;
	font-weight: bold;
	color: var(--font-color-header);
	border-bottom: 3px solid var(--font-color-header);
}

.header__rank {
	width: 6%;
	text-align: center;
}

.header__topic {
	width: 70%;
}

.header__posters {
	width: 20%;
}

.header__replies {
	width: 10%;
	text-align: center;
}

.header__views {
	width: 10%;
	text-align: center;
}

.header__activity {
	width: 10%;
	text-align: center;
}

.post {
	width: 100%;
	margin: 0.5em 0 0;
	padding: 0 0 0.5em;
	color: var(--font-color-post);
	border-bottom: 1px solid var(--font-color-header);
}

.post-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post-list a {
	color: var(--font-color-post);
	text-decoration: none;
	transition: opacity 0.1s ease;
}

.post-list a:hover {
	opacity: 0.8;
}

.post-list img {
	max-width: 30px;
	max-height: 30px;
}

.post-item-rank {
	text-align: center;
	width: 6%;
}

.post-item-title {
	width: 70%;
}
.post-item-posters {
	width: 20%;
}

.post-item-replies {
	text-align: center;
	width: 10%;
}

.post-item-views {
	text-align: center;
	width: 10%;
}

.post-item-activity {
	text-align: center;
	width: 10%;
}

/* **** MENU **** */

.menu-container {
	position: absolute;
	top: 60px;
	left: 80%;
	width: 300px;
	height: 275px;
	transform: scale(0);
	transform-origin: top right;
	background-color: var(--main-color);
	padding: 1.5em;
	box-shadow: -2px 2px 14px rgb(24, 23, 23);
	transition: transform 0.3s ease-in-out;
}

.menu-list {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}
.column {
	flex-direction: row;
	font-size: 1.2rem;
}

.menu-item {
	margin-bottom: 0.5em;
	color: var(--font-color-post);
}

.menu-button {
	margin: 1em 0 0;
	color: var(--font-color-post);
	border: 1px solid var(--font-color-post);
	padding: 0.2em 0.4em;
}

.menu-button:hover {
	opacity: 0.7;
}

.menu-button + .menu-button {
	margin-left: 1.2em;
}

.show-menu {
	transform-origin: top right;
	transform: scale(1);
	display: block;
}

.menu-container a {
	text-decoration: none;
	color: var(--font-color-post);
}

/*  **** SEARCH **** */

.search-container {
	position: absolute;
	padding: 0.5em 2em;
	top: 60px;
	left: 78%;
	transform: scale(0);
	transform-origin: top right;
	width: 450px;
	height: 60px;
	background-color: var(--main-color);
	padding: 1em;
	box-shadow: -2px 2px 14px rgb(24, 23, 23);
	transition: transform 0.3s ease-in-out;
}

.show-search {
	transform-origin: top right;
	transform: scale(1);
	display: block;
}

.search-field {
	height: 26px;
	width: 200px;
	font-size: 1rem;
	padding: 0 0.6em;
	border-radius: 5px;
}

.search-button {
	padding: 0.2em 0.5em;
	color: var(--font-color-post);
	background-color: var(--main-color);
	border: 2px solid var(--font-color-post);
	margin: 0 2em;
	font-size: 0.9rem;
}
